# Añade tu API Key de Google Gemini aquí
GEMINI_API_KEY=tu_api_key_aqui

# Configuración de Redis (Remoto / Cloud)
REDIS_HOST=betterment-note-easy-25109.db.redis.io
REDIS_PORT=16358
REDIS_USERNAME=default
REDIS_PASSWORD=tu_password_aqui
